body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.logo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

#song-list {
  padding: 20px;
}